# Google Data Analyst Capstone Project: Bellabeat Fitness Insight
## Using Python and Tablaeu

## Introduction

## STAGE 1
### 1.1 ASK

**Bellabeats Products**

Bellabeats offers a range of products that comes as a wearable, jewelry or mobile application. Thus listed below:

**Bellabeat app**: The Bellabeat app provides users with health data related to their activity, sleep, stress,
menstrual cycle, and mindfulness habits. This data can help users better understand their current habits and
make healthy decisions. The Bellabeat app connects to their line of smart wellness products.

**Leaf**: Tracker can be worn as a bracelet, necklace, or clip. The Leaf tracker connects to the Bellabeat app to track activity, sleep, and stress.

**Time**: This wellness watch combines the timeless look of a classic timepiece with smart technology to track user
activity, sleep, and stress. The Time watch connects to the Bellabeat app to provide you with insights into your
daily wellness.

**Spring**: This is a water bottle that tracks daily water intake using smart technology to ensure that you are
appropriately hydrated throughout the day. The Spring bottle connects to the Bellabeat app to track your
hydration levels.

**Ivy**: a health tracker disguised as smart jewelry.

**Bellabeat membership**: Bellabeat also offers a subscription-based membership program for users.
Membership gives users 24/7 access to fully personalized guidance on nutrition, activity, sleep, health and beauty, and mindfulness based on their lifestyle and goals.

### 1.2 PREPARE

what data source are we using?

In [2]:
what data source are we using

SyntaxError: invalid syntax (4065508134.py, line 1)

## STAGE 2
### 2.1 PROCESS and exploration

In [3]:
# importing necessary modules

import sqlite3
import pandas as pd
import glob
import seaborn as sns
import matplotlib.pyplot as plt

#### Using glob module to check the contents of the unzipped files

In [4]:
file_path = "../Fitabase Data 4.12.16-5.12.16/*.csv"
file_list = []
n = 0

for file in glob.glob(file_path):
    file_list.append(file)
    print(f'{n} {file}')
    n+=1

0 ../Fitabase Data 4.12.16-5.12.16/hourlyIntensities_merged.csv
1 ../Fitabase Data 4.12.16-5.12.16/minuteIntensitiesWide_merged.csv
2 ../Fitabase Data 4.12.16-5.12.16/dailyCalories_merged.csv
3 ../Fitabase Data 4.12.16-5.12.16/minuteCaloriesWide_merged.csv
4 ../Fitabase Data 4.12.16-5.12.16/sleepDay_merged.csv
5 ../Fitabase Data 4.12.16-5.12.16/minuteStepsWide_merged.csv
6 ../Fitabase Data 4.12.16-5.12.16/minuteMETsNarrow_merged.csv
7 ../Fitabase Data 4.12.16-5.12.16/dailySteps_merged.csv
8 ../Fitabase Data 4.12.16-5.12.16/hourlySteps_merged.csv
9 ../Fitabase Data 4.12.16-5.12.16/weightLogInfo_merged.csv
10 ../Fitabase Data 4.12.16-5.12.16/hourlyCalories_merged.csv
11 ../Fitabase Data 4.12.16-5.12.16/dailyActivity_merged.csv
12 ../Fitabase Data 4.12.16-5.12.16/dailyIntensities_merged.csv
13 ../Fitabase Data 4.12.16-5.12.16/minuteStepsNarrow_merged.csv
14 ../Fitabase Data 4.12.16-5.12.16/minuteSleep_merged.csv
15 ../Fitabase Data 4.12.16-5.12.16/minuteIntensitiesNarrow_merged.csv
16 ../Fitabase Data 4.12.16-5.12.16/minuteCaloriesNarrow_merged.csv
17 ../Fitabase Data 4.12.16-5.12.16/heartrate_seconds_merged.csv

In [5]:
header_test = pd.read_csv(file_list[6])
print(header_test.head(3))
print(header_test.tail(3))
header_test["Id"].value_counts().index

           Id         ActivityMinute  METs
0  1503960366  4/12/2016 12:00:00 AM    10
1  1503960366  4/12/2016 12:01:00 AM    10
2  1503960366  4/12/2016 12:02:00 AM    10
                 Id        ActivityMinute  METs
1325577  8877689391  5/12/2016 1:57:00 PM    11
1325578  8877689391  5/12/2016 1:58:00 PM    11
1325579  8877689391  5/12/2016 1:59:00 PM    11

Int64Index([1927972279, 2026352035, 2873212765, 4558609924, 1624580081,
            4388161847, 8053475328, 2022484408, 2320127002, 8877689391,
            8378563200, 7086361926, 4445114986, 4020332650, 6962181067,
            1844505072, 4702921684, 5553957443, 4319703577, 8583815059,
            1503960366, 5577150313, 1644430081, 3977333714, 8792009665,
            6290855005, 6117666160, 6775888955, 7007744171, 3372868164,
            8253242879, 2347167796, 4057192912],
           dtype='int64')

##### Checking the IDs' of activity differences

In [6]:
n = 0

for csv in file_list:
    
    read_csv = pd.read_csv(csv)
    id_count = read_csv["Id"].value_counts().count()
    
    print(f'{n}. Unique IDs in {csv[33:]} is {id_count}')
    n += 1

0. Unique IDs in hourlyIntensities_merged.csv is 33
1. Unique IDs in minuteIntensitiesWide_merged.csv is 33
2. Unique IDs in dailyCalories_merged.csv is 33
3. Unique IDs in minuteCaloriesWide_merged.csv is 33
4. Unique IDs in sleepDay_merged.csv is 24
5. Unique IDs in minuteStepsWide_merged.csv is 33
6. Unique IDs in minuteMETsNarrow_merged.csv is 33
7. Unique IDs in dailySteps_merged.csv is 33
8. Unique IDs in hourlySteps_merged.csv is 33
9. Unique IDs in weightLogInfo_merged.csv is 8
10. Unique IDs in hourlyCalories_merged.csv is 33
11. Unique IDs in dailyActivity_merged.csv is 33
12. Unique IDs in dailyIntensities_merged.csv is 33
13. Unique IDs in minuteStepsNarrow_merged.csv is 33
14. Unique IDs in minuteSleep_merged.csv is 24
15. Unique IDs in minuteIntensitiesNarrow_merged.csv is 33
16. Unique IDs in minuteCaloriesNarrow_merged.csv is 33
17. Unique IDs in heartrate_seconds_merged.csv is 14

#### checking if daily activities contain all other daily activities

In [23]:
daily_ac = pd.read_csv(file_list[11])
print(daily_ac.head(2))
daily_ac.shape

           Id ActivityDate  TotalSteps  TotalDistance  TrackerDistance  \
0  1503960366    4/12/2016       13162           8.50             8.50
1  1503960366    4/13/2016       10735           6.97             6.97

   LoggedActivitiesDistance  VeryActiveDistance  ModeratelyActiveDistance  \
0                       0.0                1.88                      0.55
1                       0.0                1.57                      0.69

   LightActiveDistance  SedentaryActiveDistance  VeryActiveMinutes  \
0                 6.06                      0.0                 25
1                 4.71                      0.0                 21

   FairlyActiveMinutes  LightlyActiveMinutes  SedentaryMinutes  Calories
0                   13                   328               728      1985
1                   19                   217               776      1797

(940, 15)

In [25]:
aily_ac = pd.read_csv(file_list[2])
print(aily_ac.head(2))
aily_ac.shape

           Id ActivityDay  Calories
0  1503960366   4/12/2016      1985
1  1503960366   4/13/2016      1797

(940, 3)

file 7 is in 11

file 12, also in 11, sedentary minutes will be used to cal for waste time sitting idle of users.

file 2 is in 11

#### checking if the user activity in minutes is equivalent to hourly or daily activity

In [13]:
# for 7, 5 and 13 and 8
minute_ac = pd.read_csv(file_list[7])
minute_ac.head(6)

           Id ActivityDay  StepTotal
0  1503960366   4/12/2016      13162
1  1503960366   4/13/2016      10735
2  1503960366   4/14/2016      10460
3  1503960366   4/15/2016       9762
4  1503960366   4/16/2016      12669
5  1503960366   4/17/2016       9705

In [15]:
minute_ac = pd.read_csv(file_list[5])
minute_ac.head(6)

,Id,ActivityHour,Steps00,Steps01,Steps02,Steps03,Steps04,Steps05,Steps06,Steps07,...,Steps50,Steps51,Steps52,Steps53,Steps54,Steps55,Steps56,Steps57,Steps58,Steps59
0,1503960366,4/13/2016 12:00:00 AM,4,16,0,0,0,9,0,17,...,0,9,8,0,20,1,0,0,0,0
1,1503960366,4/13/2016 1:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1503960366,4/13/2016 2:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1503960366,4/13/2016 3:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1503960366,4/13/2016 4:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1503960366,4/13/2016 5:00:00 AM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
minute_ac = pd.read_csv(file_list[13])
minute_ac.head(6)

           Id         ActivityMinute  Steps
0  1503960366  4/12/2016 12:00:00 AM      0
1  1503960366  4/12/2016 12:01:00 AM      0
2  1503960366  4/12/2016 12:02:00 AM      0
3  1503960366  4/12/2016 12:03:00 AM      0
4  1503960366  4/12/2016 12:04:00 AM      0
5  1503960366  4/12/2016 12:05:00 AM      0

In [20]:
minute_ac = pd.read_csv(file_list[8])
minute_ac.head(10)

           Id           ActivityHour  StepTotal
0  1503960366  4/12/2016 12:00:00 AM        373
1  1503960366   4/12/2016 1:00:00 AM        160
2  1503960366   4/12/2016 2:00:00 AM        151
3  1503960366   4/12/2016 3:00:00 AM          0
4  1503960366   4/12/2016 4:00:00 AM          0
5  1503960366   4/12/2016 5:00:00 AM          0
6  1503960366   4/12/2016 6:00:00 AM          0
7  1503960366   4/12/2016 7:00:00 AM          0
8  1503960366   4/12/2016 8:00:00 AM        250
9  1503960366   4/12/2016 9:00:00 AM       1864

for steps exploration, it was observed that the dialy steps merged will be used, which is also in data 11.
this is due to the fact it contains all the data needed,
data column 13, 5 and 7 will be dropped for this analysis. while data 8 will be used to find trend in exercise.

### 2.2 ANALYSE

## STAGE 3
### 3.1 SHARE

### 3.2 ACT

In [4]:
#weightLogInfo_merged = pd.read_csv("../Fitabase Data 4.12.16-5.12.16/minuteStepsWide_merged.csv")   #"weightLogInfo_merged.db"